name: Reusable Deploy Workflow
on: 
  workflow_call:
    inputs:
      artifact-name:
        description: 'The Name of the artifact to be downloaded'
        required: false
        default: dist
        type: string
      
jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Get Code
        uses: actions/download-artifact@v4
        with:
          name: ${{ inputs.artifact-name }}

      - name: List Files Of Artifact
        run: ls
      - name: Output Information
        run: echo "Deploying & Uploading..."